@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
* {
    -moz-hyphens:none;
    -ms-hyphens:none;
    -webkit-hyphens: none;
    hyphens:none;
}
html, body{
    background-color: #f8f8f8;
    font-family: 'Montserrat', sans-serif;
    position: relative;

}
.wrapper{
    position: relative;
    overflow-x: hidden;
    background-color: #f8f8f8;
    transition: .5s ease;
}

.lock-scroll{
    position: fixed; overflow-y:scroll
}
.text-center{
    text-align: center;
}
a{
    text-decoration: none;
    display: block;
    width: max-content;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    font-weight: 700;
    font-size: 34px;
    line-height: 50px;
    margin-bottom: 50px;
}
.title{
    font-size: 38px;
}
h2{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}
img{
    height: auto;
}
section{
    margin-top: 120px;
}
header{
    position: fixed;
    width: 100%;
    background-color: #f8f8f8;
    z-index: 5;
}
.header__wrapper{
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
}
    .logo{
        width: 100px;
    }
    .language__link{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        color: #0000AF;
        margin-right: 50px;
    }
    .header__right-side{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
    }
        .menuBtn{
            width: 50px;
            height: 50px;
            cursor: pointer;
        }
        .notifications{
            display: none;
            cursor: pointer;
            width: 40px;
            margin-right: 20px;
        }
.menu{
    width: 700px;
    height: 100vh;
    position: fixed;
    right: 0;
    transform: translate(100%, 0%);
    background-color: white;
    z-index: 6;
    transition: .7s ease;
    padding: 50px 40px;
}
    .menu__content{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        #menu{
            margin-top: 10vh;
            margin-right: 150px;
            display: flex;
            height: 75vh;
            flex-direction: column;
            justify-content: space-between;
        }
        .menu__close-btn{
            position: absolute;
            top: 0px;
            right: 0px;
            cursor: pointer;
        }
            .menu__close-btn img{
                width: 20px;
            }
        .menu__anchor{
            color: black;
            font-weight: 600;
            font-size: 22px;
            display: block;
            transition: 0.2s ease;
        }
        .menu__anchor:hover{
            color: #0000AF;
        }
        .menu__anchor:active{
            font-size: 24px;
        }
        .menu__media{
            margin-top: 30px;
            display: flex;
            width: 200px;
            justify-content: space-between;
        }
main{
    position: relative;
    padding-top: 170px;
    padding-bottom: 50px;
}
    .stores{
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
    .stores__item{
        width: 32%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 14px;
        border-radius: 5px;
        border: 2px solid #0000AF;
        cursor: pointer;
    }
    .stores__brand-icon{
        width: 30%;
    }
    .stores__img{
        width: 31%;
        cursor: pointer;
    }
    .stores__img__eng{
        width: 31%;
        cursor: pointer;
    }
    .stores__mobile-buttons{
        display: flex;
        width: 100%;
    }
    .stores__desktop-buttons{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    /*.stores img{*/
    /*    width: 30%;*/
    /*    cursor: pointer;*/
    /*    margin-right: 20px;*/
    /*}*/
    .button_link{
        background: #F2F2FB;
        border-radius: 5px;
        padding: 15px 25px;
        color: #0000AF;
        font-weight: 600;
        font-size: 20px;
        margin-top: 130px;
        transition: 0.5s ease;
    }
        .button_link:hover{
            background-color: #0000AF;
            color: white;
        }
    .twophones{
        position: absolute;
        width: 55%;
        top: 60px;
        right: 0;
    }
.opportunity{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
    .opportunity__item{
        width: 29%;
        margin-bottom: 50px;
    }
        .opportunity__square{
            background-color: #F2F2FB;
            width: 90px;
            height: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px 5px 0 0;
        }
        .opportunity__text{
            background-color: white;
            padding: 0px 20px;
            height: 100px;
            display: flex;
            align-items: center;
        }
.deposit{
    display: flex;
    justify-content: space-between;
}
    .deposit__item{
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .deposit__square{
        width: 130px;
        height: 140px;
        background-color: #F2F2FB;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin-bottom: 30px;
    }
    .deposit__square img {
        height: 90px;
        width: auto;
    }
    .deposit__text{
        font-size: 18px;
        margin-top: 20px;
        letter-spacing: 0.5px;
    }
.app{
    position: relative;
}
    .app__item{
        display: flex;
        align-items: center;
        margin-top: 45px;
        width: 33%;
    }
    .app__item:first-of-type{
        padding-top: 35px;
    }
        .app__network{
            margin-right: 20px;
        }
    .app__img{
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
    }
    .offer{
        border: 2px solid #0000AF;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 30px;
        color: black;
        margin-top: 70px;
    }
    .offer:hover{
        color: #0000AF;
    }
    .offer img{
        margin-right: 10px;
    }
.payment{
    display: flex;
    justify-content: space-between;
    position: relative;
}
    .payment__column{
        width: 25%;
        height: 530px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
        .payment__item{
            user-select: none;
            cursor: pointer;
            z-index: 1;
        }
            .payment__item_active{
                position: relative;
                color: #0000AF;
            }
            .line{
                opacity: 0;
                transition: 0.8s ease;
            }
            .payment__item_active .line{
                opacity: 1;
                position: absolute;
                width: 105px;
                height: 2px;
                top: 10%;
                right: 0;
                transform: translateX(145%);
                background-color: #0000AF;
            }
            .payment__item_active .line_right{
                transform: translateX(-145%);
                left: 0;
            }
            .payment__item_active .line_card{
                width: 176px;
                transform: translateX(135%);
            }
            .payment__item_active .line div{
                    position: relative;
                    width: 100%;
                    height: 100%;
                }
                .payment__item_active .line div::before,
                .payment__item_active .line div::after{
                top: -5px;
                content: '';
                width: 13px;
                height: 13px;
                position: absolute;
                background-color: #0000AF;
                display: block;
                border-radius: 50%;
            }
                .payment__item_active .line div::after{
                    right: 0;
                }
            .payment__text{
                margin-top: 10px;
                font-size: 18px;
                line-height: 24px;
            }
            .payment__img{
                position: absolute;
                top: -15px;
                left: 50%;
                transform: translateX(-50%);
                width: 24%;
            }
.cards{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
    .cards__item{
        width: 25%;
    }
.usage{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
    .usage__wrapper{
        width: 42%;
    }
    .usage__item{
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
    }
        .usage__info{
            width: 65%;
        }
        .usage__step{
            font-size: 22px;
            color: #0000AF;
            margin-bottom: 20px;
            font-weight: 600;
        }
        .usage__text{
            font-size: 18px;
            line-height: 24px;
            margin-top: 15px;
        }
        .usage__img{
            height: 160px;
            width: auto;
        }
        .usage__img_odd{
            transform: translateX(-10px);
        }
.find-us__container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
    .find-us__container img{
        width: 85%;
    }
.faq__wrapper{
    padding-bottom: 200px;
}
    .faq__sections{
        display: flex;
        justify-content: space-between;
        user-select: none;
    }
        .faq__section{
            width: 30%;
            border-radius: 5px;
            font-weight: 600;
            font-size: 20px;
            padding: 20px 0px;
            text-align: center;
            cursor: pointer;
            transition: color 0.1s ease;
        }
            .faq__section_active{
                color: #0000AF;
                border: 2px solid #0000AF;
            }
.faq__block{
    margin-top: 50px;
}
    .faq {
        font-size: 20px;
    }
    .slider__svg{
        background-image: url('./assets/arrow.svg');
        width: 30px;
        height: 30px;
        background-size: cover;
        transform: rotateZ(180deg);
        transition: ease 0.5s;

    }
        .rotate{
            transform: rotateZ(0deg);
        }
    .faq li {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding-bottom: 20px;
    }
    .q {
        font-size: 20px;
        line-height: 26px;
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: white;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        margin-bottom: 25px;
    }

    .q__text {
        padding-left: 15px;
        padding-top: 5px;
    }

    .a {
        display: none;
        line-height: 26px;
        margin-left: 35px;
    }
    .a h2{
        margin-top: 20px;
    }
    .a p{
        line-height: 38px;
        font-size: 16px;
    }
    .a .list {
        align-items: center;
        display: flex;
        margin-top: 15px;
    }
    .a .list::before{
        content: '';
        width: 10px;
        height: 10px;
        background-color: #0000AF;
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
    }
        .faq__steps{
            display: flex;
            justify-content: space-between;
            margin: 20px 0 50px;
        }
            .faq__step{
                width: 15%;
                height: 280px;
                position: relative;
            }
                .faq__step_label{
                    font-size: 18px;
                    line-height: 22px;
                    margin-top: 10px;
                }
                .faq__step_img{
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                }
        .check{
            display: flex;
            width: 30%;
            justify-content: space-between;
            margin-bottom: 50px;
        }
            .check__step{
                width: 40%;
            }
            .check__step img{
                margin-top: 20px;
                width: 100%;
            }
    .faq__wrapper_mobile{
        display: none;
    }
footer{
    background-color: #F2F2FB;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}
    .footer__column{
        width: 30%;
        font-size: 16px;
        line-height: 24px;
    }
    .footer__column h3 {
        margin-bottom: 10px;
    }
    .footer__column_media{
        width: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer__column a{
        height: max-content;
    }
    .footer__network{
        cursor: pointer;
    }
    .footer__logo{
        width: 70%;
        cursor: pointer;
    }
    .swiper-container{
        display: none;
    }
    .fixedNews{
        display: none;
        width: 370px;
        height: 360px;
        margin-bottom: 20px;
        background-color: white;
        padding: 25px;
    }
        .hello-img{
            width: 70%;
        }
        .fixed-action-btn{
            display: flex;
            flex-direction: column;
            align-items: flex-end;

        }
        .hello{
            font-size: 20px;
            font-weight: 600;
            margin: 10px 0;
        }
        .hello::before {
            content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
            color: #27AE60; /* Change the color */
            font-weight: bold; /* If you want it to be bold */
            display: inline-block; /* Needed to add space between the bullet and the text */
            width: 16px; /* Also needed for space (tweak if needed) */
        }
        .hello-text{
            font-size: 18px;
            margin: 10px 0 20px;
        }
        .action-button{
            display: flex;
            align-items: center;
            border: 2px solid #0000AF;
            padding: 10px;
            font-size: 20px;
            border-radius: 8px;
            width: max-content;
            font-weight: 600;
            cursor: pointer;
        }
        .action-button a{
            color: black;
            text-decoration: none;
            margin-left: 10px;
        }
        .action-button:hover a{
            color: #0000AF;
        }
.balance{
    color: #0000AF;
    background-color: white;
    min-height: 100vh;
    margin: 0;
}
    .balance .container{
        padding: 20px 0;
    }
    .balance__logo{
        display: block;
        margin: 0px auto 20px;
    }
    .balance__blocposition: absolute;
    k_orange{
        background-color: #FFE9AE;
        border-radius: 15px;
        padding: 1rem;
        margin-top: 2rem;
    }
    .balance__row{
        display: flex;
        margin-top: 1.5rem;
        align-items: flex-start;
    }
        .balance__row img{
            margin-right: 1rem;
        }
    .balance h2{
        margin-top: 1rem;
    }
    .balance h3{
        margin: 0;
    }
    .balance__block{
        margin-top: 2rem;
    }
    .balance__man_img{
        width: 100%;
        max-width: 300px;
        display: block;
        margin: 20px auto;
    }
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
@media only screen and (max-width: 1367px) {
    .container{
        max-width: 1000px;
    }
    .logo{
        font-size: 34px;
    }
    .button_link{
        mposition: absolute;
        argin-top: 60px;
        font-size: 18px;
    }
    h1{
        font-size: 30px;
    }
    .wrapper h2{
        font-size: 18px;
    }
    section{
        margin-top: 90px;
    }
    .opportunity__item{
        margin-bottom: 30px;
    }
        .opportunity__text{
            height: 80px;
        }
        .opportunity__square{
            width: 70px;
            height: 70px;
        }
            .opportunity__square img{
                width: 50px;
                height: 50px;
            }
    .deposit__square{
        width: 100px;
        height: 100px;
    }
        .deposit__square img{
            height: 70%;
        }
        .deposit__text{
            font-size: 16px;

        }
    .payment__item_active .line{
        width: 80px;
    }
    .payment__item_active .line_card{
        width: 150px;
    }
    .payment__img{
        width: 27%;
    }
    .payment__text{
        font-size: 16px;
    }
    .usage__text{
        font-size: 16px;
    }
    .q{
        font-size: 18px;
    }
    .menu{
        width: 640px;
    }
}

@media only screen and (max-width: 1024px) {
    .container{
        max-width: 900px;
    }
    .title{
        font-size: 32px;
        line-height: 44px;
        margin-bottom: 50px;
    }
    .button_link{
        margin-top: 50px;
    }
    section{
        margin-top: 70px;
    }
    h1{
        font-size: 28px;
        margin-bottom: 30px;
    }
    .wrapper h2{
        font-size: 16px;
    }
    .app__item{
        margin-top: 30px;
    }
    .app__item:first-of-type {
        padding-top: 10px;
    }
    .payment__column{
        height: 500px;
    }
    .payment__img{
        width: 30%;
    }
    .payment__item_active .line{
        transform: translateX(115%);
    }
    .payment__item_active .line_right{
        transform: translateX(-115%);
    }
    .faq__section{
        font-size: 18px;
    }
    .footer__column{
        width: calc(100%/3);
    }
    .footer__column_media{
        width: 15%;
    }
    .footer__column_media img{
        width: 30px;
    }
    .menu{
        width: 600px;
    }
    .stores__item{
        justify-content: center;
    }
}

@media only screen and (max-width: 850px) {
    .container{
        max-width: 790px;
    }

    .stores__desktop-buttons{
        display: none;
    }
    .stores__mobile-buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 770px) {
    .container{
        max-width: 90%;
    }
    header{
        padding: 5px 0;
    }
        .header__right-side{
            position: static;
        }
        .menuBtn{
            height: auto;
            width: 40px;
        }
    main{
        padding-top: 100px;
    }
        .title{
            text-align: center;
        }
        .twophones{
            position: static;
            display: block;
            margin: 0 auto;
            width: 60%;
        }
        .stores{
            width: 70%;
            margin: 0 auto;
        }
        .button_link{
            font-size: 22px;
            margin: 50px auto 0;
        }
    section{
        margin-top: 50px;
    }
    .opportunity__item{
        width: 40%;
    }
        .opportunity__item_empty{
            display: none;
          }
        .opportunity__square{
            width: 80px;
            height: 80px;
        }
    .deposit__square{
        margin-bottom: 20px;
    }
    .deposit__text{
        margin-top: 15px;
    }
    .app__item{
        width: 40%;
    }
        .app__network{
            width: 20px;
            flex-shrink: 0;
        }
    .payment{
        align-items: flex-start;
    }
        .payment__column{
            display: none;
        }
        .payment__img{
            position: static;
            transform: none;
        }

    .payment__item_mobile h2{
        font-size: 24px;
    }
    .payment__text{
        font-size: 18px;
    }
    .swiper-container{
        display: block;
        width: 50%;
        height: 230px;
        margin: auto;
    }
        .swiper-wrapper{
            width: 100%;
        }
        .swiper-pagination-bullet{
            width: 15px;
            height: 15px;
        }
        .swiper-pagination-bullet-active{
            background-color: #0000AF;
        }
    .usage__wrapper{
        width: 100%;
    }
        .usage__item{
            margin-bottom: 50px;
        }
            .usage h2{
                font-size: 20px;
            }
            .usage__text{
                font-size: 18px;
            }
}

@media only screen and (max-width: 601px) {
    .menu{
        width: 500px;
    }
    .opportunity__text{
        height: 100px;
    }
    .deposit{
        flex-wrap: wrap;
    }
        .deposit__item{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-bottom: 30px;
        }
            .deposit__info{
                width: 60%;
            }
                .deposit h2{
                    font-size: 18px;
                }
            .deposit__square{
                width: 20%;
            }
    .app__img{
        position: static;
        display: block;
        margin: 25px auto 0;
    }
    .app__item{
        width: 100%;
    }
        .app__item h2{
            font-size: 18px;
        }
        .offer{
            padding: 15px 50px;
            margin: 0 auto;
        }
            .offer h2{
                font-size: 18px;
            }
    .cards{
        justify-content: center;
        flex-wrap: wrap;
    }
        .cards__item{
            width: 50%;
        }
    .faq__wrapper{
        display: none;
    }
    .faq__wrapper_mobile{
        display: block;
        user-select: none;
        margin-bottom: 50px;
    }
        .faq li {
            padding: 10px;
        }
        .q,
        .q__text{
            background-color: #f8f8f8;
            font-size: 20px;
            padding: 0;
        }
        li{
            list-style-type: none;
        }
        .faq__plus{
            background-image: url('./assets/plus.svg');
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-size: cover;
        }
            .faq__close{
                background-image: url('./assets/icon_close.svg');
            }
        .q__white{
            background-color: white;
            font-size: 16px;
            padding: 5px 15px;
            padding-left: 5px;
        }
        .q__text_sub{
            width: 90%;
            background-color: white;
            font-size: 16px;
        }
        .a{
            margin-left: 0px;
        }
            .faq__steps{
                flex-direction: column;
            }
                .faq__step{
                    width: 100%;
                    height: 160px;
                    display: flex;
                    justify-content: space-between;
                }
                    .faq__step h3{
                        margin-top: 30px;
                    }
                    .faq__step_img{
                        position: static;
                        width: 25%;
                    }
                    .a .list::before{
                        flex-shrink: 0;
                    }
        .check{
            width: 50%;
        }
        .a p{
            line-height: 28px;
        }
        .footer{
            flex-direction: column;
        }
            .footer__column{
                width: 100%;
                margin-bottom: 30px;
            }
            .footer__logo{
                width: 70%;
                margin-top: 20px;
            }
            .footer__coluposition: absolute;
            mn_media{
                width: 40%;
            }
            .footer__column_media img{
                    width: 50px;
                }
}

@media only screen and (max-width: 481px) {
    .title{
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 20px;
        text-align: left;
    }
    .stores{
        width: 100%;
    }

    .button_link{
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
    }
    h1{
        font-size: 24px;
    }
    .opportunity__item{
        width: 45%;
    }
        .opportunity__text{
            padding: 0 10px;
        }
        .opportunity__text h2{
            line-height: 18px;
        }
    .deposit__square{
        width: 25%;
    }
    .app__img{
        width: 90%;
    }
    .payment__item_mobile h2{
        font-size: 20px;
    }
    .payment__text{
        font-size: 16px;
    }
    .swiper-pagination{
        text-align: left;
        left: unset !important;
    }
    .payment__img{
        width: 35%;
    }
    .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
    }
    .usage h2{
        font-size: 18px;
    }
    .usage__text{
        font-size: 16px;
    }
    .faq__section_mobile{
        margin-bottom: 25px;
    }
    .faq__step{
        width: 90%;
    }
        .faq__step_img{
            width: 30%;
        }
    .footer{
        padding: 30px 0;
    }
    footer h3{
        font-size: 18px;
    }
    footer p{
        font-size: 16px;
    }
    .menu{
        width: 400px;
    }
        #menu{
            margin-right: 50px;
            height: 70vh;
        }

}

@media only screen and (max-width: 415px) {
    .twophones{
        width: 80%;
    }
    .title{
        font-size: 26px;
        line-height: 36px;
    }
    .button_link{
        font-size: 20px;
    }
    h1{
        line-height: 38px;
    }
    h3{
        font-size: 16px;
    }
    .payment__img{
        width: 40%;
    }
    .payment__text{
        font-size: 15px;
    }
    .opportunity__text{
        padding: 11px 15px;
        height: 120px;
    }
    .swiper-container{
        height: 270px;
    }
    .usage h2{
        font-size: 16px;
    }
    .usage__text{
        font-size: 14px;
    }
    .usage__img{
        width: 150px;
    }
    .q__white{
        font-size: 15px;
        padding: 5px 10px;
    }
    .a h2{
        margin: 20px 0;
    }
    .a h3 {
        margin: 20px 0;
    }
    .a p{
        font-size: 16px;
        line-height: 24px;
    }
    .faq .a_sub{
        padding: 0;
        margin-bottom: 10px;
    }
    footer p{
        line-height: 30px;
        letter-spacing: 0.5px;
    }
    .footer__column_media{
        width: 50%;
    }
    .menuBtn{
        width: 35px;
    }
    .menu{
        width: 370px;
    }
        #menu{
            margin-right: 10px;
            margin-top: 5vh;
        }
    .faq__step{
        height: 130px;
    }
        .faq__step h3{
            font-size: 16px;
        }
        .faq__step_label{
            font-size: 16px;
            line-height: 20px;
        }
    .a .list::before{
        margin-right: 10px;
    }
    .a .list{
        position: relative;
        padding-left: 0px;
    }
    .check{
        width: 70%;
    }
        .check__step{
            width: 45%;
        }
        .check__step img {
            margin-top: 0px;
        }
    .fixedNews{
        width: 300px;
        height: 320px;
        padding: 20px;
    }
    .hello-text{
        font-size: 16px;
    }
}

@media only screen and (max-width: 376px) {
    header{
        padding: 8px 0;
    }
    .menuBtn{
        width: 30px;
    }
    .title{
        font-size: 24px;
        line-height: 34px;
    }
    .button_link{
        font-size: 18px;
    }
    h1{
        font-size: 22px;
        line-height: 36px;
    }
    .wrapper h2, .deposit__text{
        font-size: 16px;
    }
    .deposit h2{
        font-size: 16px;
    }
    .app__item h2{
        font-size: 16px;
    }
    .payment__item_mobile h2{
        font-size: 18px;
    }
    .payment__text{
        margin-top: 5px;
        font-size: 14px;
        line-height: 22px;
    }
    .usage__img{
        height: 140px;
    }
    .usage__text{
        line-height: 22px;
    }
    .q__text{
        font-size: 18px;
    }
        .q__text_sub{
            font-size: 16px;
            width: 85%;
        }
    .q__white{
        font-size: 13px;
    }
    .a p {
        font-size: 16px;
        line-height: 24px;
    }
    .q__white{
        font-size: 14px;
        padding: 5px;
    }

    .faq__step {
        height: 110px;
    }
    .button_link{
        height: 50px;
    }
    .footer__logo{
        width: 60%;
    }
}
position: absolute;

@media only screen and (max-width: 321px) {
    .menu{
        width: 100%;
        padding: 30px 0;
    }
    .menu__close-btn{
        right: 30px;
    }
        .menu__anchor{
            font-size: 20px;
        }
    .title {
        font-size: 22px;
        line-height: 32px;
    }
    .button_link{
        font-size: 16px;
    }
    .deposit__square{
        margin-top: 10px;
    }
    .deposit__text{
        font-size: 14px;
        margin-top: 10px;
    }
    .app__item h2{
        font-size: 15px;
    }
    .offer{
        padding: 10px 20px;
    }
        .offer h2{
            font-size: 16px;
        }
    .opportunity__text{
        padding: 10px;
    }
        .opportunity__text h2{
            line-height: 16px;
            font-size: 14px;
        }
    .payment__text{
        margin-top: 0px;
        font-size: 12px;
        line-height: 18px;
    }
    .swiper-container{
        height: 230px;
    }
    .usage__step{
        margin-bottom: 10px;
    }
    .usage h2{
        font-size: 15px;
    }
    .usage__img{
        width: 125px;
    }
    .usage__text{
        line-height: 18px;
    }
    .footer__column_media {
        width: 70%;
    }
    .fixedNews{
        width: 250px;
        height: 300px;
        padding: 15px;
    }
    .stores__item{
        justify-content: center;
    }
    .stores__info{
        display: none;
    }
}
